
app-login-form {
  position:relative;
  color: #fff;
  text-shadow: 5px solid #999;
  margin:0px;
}

app-join {
  margin:0px;
}

app-public-nav {
  position:relative;
  width: 80%;
  margin: auto;
}


.center-box {
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%), url('https://images7.alphacoders.com/447/447466.jpg');
  background-size:cover;
  height:100vh;
  box-shadow: 0px 0px 20px #888888;
  color: #fff;
}

.center-box .content {
  text-align: center;
  margin:0 auto;
  width:400px;
  padding-top:10%;


}

.center-box .nav {
  margin-left:8%;
  margin-right:8%;
}

.center-box .welcome-title {
  color: #fff;
  font-size:28px;
  text-shadow: 5px solid #999;
  display: inline-block;
}

.center-box .welcome-message {
  color: #fff;
  font-size: 12px;
  text-shadow: 5px solid #999;
  display: inline-block;
}

.center-box a {
   cursor: pointer;
}

.container-master {
  overflow-x: hidden;
  width: 100%;
  position:relative;

}

.switcher {
  margin-top:-20px;
}
