<div class="container-master">
  <div class="center-box">
    <div class="nav">
      <app-public-nav></app-public-nav>
    </div>
    <div class="content">
      <div class="login-container" *ngIf="!join">
        <app-login-form></app-login-form>
          <div class="switcher">Não possui uma conta? <a (click)="showJoin()">Cadastre-se!</a></div>
      </div>
      <div class="join-container" *ngIf="join">
        <app-join></app-join>
          <div class="switcher">Já possui uma conta? <a (click)="showJoin()">Entre aqui!</a></div>
      </div>

    </div>

  </div>

  <app-footer></app-footer>

</div>
