<div class="container-master">
  <div class="background">
  </div>
  <app-public-nav></app-public-nav>
  <div class="center-box">
    <div class="nav">
    </div>
    <div class="content">
      <span class="align-middle">
      <div class="login-container" *ngIf="!join">
        <app-login-form (loading)="switchLoad()"></app-login-form>
          <div class="switcher">Não possui uma conta? <a (click)="showJoin()">Cadastre-se!</a></div>
      </div>
      <div class="join-container" *ngIf="join">
        <app-join></app-join>
          <div class="switcher">Já possui uma conta? <a (click)="showJoin()">Entre aqui!</a></div>
      </div>
      <div class="preloader-wrapper big active" *ngIf="loading">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </span>



    </div>

  </div>

</div>
