.login-box {
  font-size:15px;
  line-height: normal;
}

.login-box {}

.login-box .checkbox {
  line-height: normal;
}

.form-control.ng-valid.ng-dirty.ng-touched {
  color:#fff;
}

.form-control {
  color: #fff;
}
